/* Basics */

html {
  background: url("../img/landscape.jpg") no-repeat center right fixed;
  background-size: cover;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #2b2b2b;
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #E84855;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

hr {
  max-width: 700px;
  border: 0;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(107, 241, 120, 0)), color-stop(rgba(107, 241, 120, 0.75)), to(rgba(107, 241, 120, 0)));
  background-image: -webkit-linear-gradient(left, rgba(107, 241, 120, 0), rgba(107, 241, 120, 0.75), rgba(107, 241, 120, 0));
  background-image: -o-linear-gradient(left, rgba(107, 241, 120, 0), rgba(107, 241, 120, 0.75), rgba(107, 241, 120, 0));
  background-image: linear-gradient(to right, rgba(107, 241, 120, 0), rgba(107, 241, 120, 0.75), rgba(107, 241, 120, 0));
}

/* Header */

.page-header {
  text-align: center;
}
.page-header__item {
  color: #FAFAFA;
}

/* Content */

#searchInput {
  width: 10em;
  height: 40px;
  border: 2px solid #F9C22E;
  border-radius: 0.5em;
  background-color: transparent;
  color: #F9C22E;
  outline: none;
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

#searchInput:focus {
  width: 15em;
}

::-webkit-input-placeholder {
  color: #F9C22E;
}

:-ms-input-placeholder {
  color: #F9C22E;
}

::-ms-input-placeholder {
  color: #F9C22E;
}

::placeholder {
  color: #F9C22E;
}

.content {
  margin: 50px auto;
}

.content ul {
  padding: 0;
}

.content__item {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  background-color: rgba(232, 72, 85, 0.8);
  border-radius: 5px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content__item--button {
  /*border: 1px solid var(--tertiary-color);*/
  border-radius: 50%;
  background-color: transparent;
  color: #FAFAFA;
  cursor: url("../img/light_saber_green.png"), auto;

  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(250, 250, 250, 0);
  box-shadow: inset 0 0 20px rgba(250, 250, 250, 0);
  outline: 1px solid;
  outline-color: rgba(250, 250, 250, .5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.content__item--button:hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(250, 250, 250, .5), 0 0 20px rgba(250, 250, 250, .2);
  box-shadow: inset 0 0 20px rgba(250, 250, 250, .5), 0 0 20px rgba(250, 250, 250, .2);
  outline-color: rgba(250, 250, 250, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

button:focus {
  outline: 0;
}

.highlight {
  color: #FAFAFA;
}

/* Modal */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 30, 92, 0.5);
  z-index: 999;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  background-color: white;
  background-image: url("../img/space.png");
  background-size: cover;
  background-position: center;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  color: #F9C22E;
  border-radius: 3px;
  opacity: 0.9;
}

.button-element {
  text-align: right;
}

.modal-close {
  background: none;
  border: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 30px;
  cursor: url("../img/light_saber_green.png"), auto;
}

.modal-close::before {
  background-color: #E84855;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 100px;
  z-index: -1;
}

.modal-close::after {
  background-color: #E84855;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 100px;
  z-index: -1;
}

.modal-close::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover {
  color: black;
}

.modal-close:hover::before,
.modal-close:hover::after {
  height: 30px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.modal h1 {
  margin-top: 0;
  font-size: 20px;
}

.modal p {
  margin-bottom: 0;
}

.image-container {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  border-bottom: 1px solid #F9C22E;
  color: #F9C22E;
}

.character-image {
  max-width: 200px;
  border-radius: 5px;
}

/* Footer */

.footer {
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
}

.footer_item {
  color: #FAFAFA;
}

@media all and (min-width: 700px) {
  .content {
    max-width: 700px;
  }

  body {
    padding: 0;
  }

  html {
    background: url("../img/landscape.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
